<!DOCTYPE html>
<html {{ sonata_seo_html_attributes() }}>
<head {{ sonata_seo_head_attributes() }}>
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
    {{ sonata_seo_link_canonical() }}
    {{ sonata_seo_lang_alternates() }}

    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    {% block stylesheets %}
        <link href="{{ asset('bundles/app/css/app.css') }}" rel="stylesheet" media="screen">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>

<div class="container">
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>

{% block javascripts %}
    <script src="{{ asset('bundles/app/js/app.js') }}"></script>
{% endblock %}
</body>
</html>
