{% extends "::base.html.twig" %}

{% block body %}
    <div class="col-lg-4 col-md-offset-4 login-form_panel">
        {{ include('@ApplicationFOSUser/Security/login_content.html.twig') }}
    </div>
{% endblock body %}
