{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ 'security.login.form_title'|trans }}
        </div>
        <div class="panel-body">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>

                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </div>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="glyphicon glyphicon-asterisk"></i>
                    </div>
                    <input class="form-control" type="password" id="password" name="_password" required="required"/>
                </div>
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    {{ 'security.login.remember_me'|trans }}
                </label>
            </div>
        </div>
        <div class="panel-footer">
            <button type="submit" id="_submit" name="_submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-lock"></i>&nbsp;&nbsp;&nbsp;
                {{ 'security.login.submit'|trans }}
            </button>
        </div>
    </div>
</form>
